@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@500@display=swap');
body{
    font-family: Poppins;
    margin: 0;
    background: url(image/img1.png);
    background-color: #000;
    color: #eee;
}

/* header{
    background-color: #000;
    width: 100%;
    max-width: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: 50px 1fr 50px;
    grid-template-rows: 50px;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 100;
    opacity: 80%;
} */

header{
    background-color: #000;
    width: 100%;
    height: 60px;
    top: 0;
    max-width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: fixed;
    align-items: center;
    transition: 0.6s;
    width: 100%;
    z-index: 1000;
    opacity: 80%;    
}

header.sticky{
    padding: 5p 20px;
    background: #000;
}


/* header .logo{
    font-weight: bold;
} */

header .logo{
    margin-left: 20px;
    position: relative;
    font-weight: 700;
    color: #fff;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 0.6s;
    left: -170px;
}

/* header .links{
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    margin-left: 60%;
    gap: 20px;
    font-weight: 500;
    text-decoration: none;
} */


header .links{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

}
header ul li{
    position: relative;
    list-style: none;
}

header ul li a{
    position: relative;
    margin: 0 15px;
    text-decoration: none;
    letter-spacing: 2px;
    font-weight: 500px;
    transition: 0.5;
}



.home{
    left: 10px;
    text-decoration: none;
    border-style: solid;
    border-color: red;
    border-radius: 20px;
    border-width: 2px;
    padding: 5px;
}
.services{
    left: 20px;
    text-decoration: none;
    border-style: solid;
    border-color: red;
    border-radius: 20px;
    border-width: 2px;
    padding: 5px;
}
.careers{
    left: 30px;
    text-decoration: none;
    border-style: solid;
    border-color: red;
    border-radius: 20px;
    border-width: 2px;
    padding: 5px;
}
.contact{
    left: 40px;
    text-decoration: none;
    border-style: solid;
    border-color: red;
    border-radius: 20px;
    border-width: 2px;
    padding: 5px;
}
.facebook{
    left: 50px;
    text-decoration: none;
    border-style: solid;
    border-color: red;
    border-radius: 20px;
    border-width: 2px;
    padding: 5px;
}

a{
    text-decoration: none;
    color: white;
}

.home:hover{
    background-color: red;
    color: white;
    border-color: red;
    transition: .5s ease-in-out;
    box-shadow: 0 0 5px red,
    0 0 20px red;
}
.services:hover{
    background-color: red;
    color: white;
    border-color: red;
    transition: .5s ease-in-out;
    box-shadow: 0 0 5px red,
    0 0 20px red;
}
.careers:hover{
    background-color: red;
    color: white;
    border-color: red;
    transition: .5s ease-in-out;
    box-shadow: 0 0 5px red,
    0 0 20px red;
}
.contact:hover{
    background-color: red;
    color: white;
    border-color: red;
    transition: .5s ease-in-out;
    box-shadow: 0 0 5px red,
    0 0 20px red;
}
.facebook:hover{
    background-color: red;
    color: white;
    border-color: red;
    transition: .5s ease-in-out;
    box-shadow: 0 0 5px red,
    0 0 20px red;
}

@media screen and (max-width: 678px) {
    .thumbnail{
        justify-content: start;
    }
    .slider .list .item .content h2{
        font-size: 60px;
    }
    .arrows{
        top: 10%;
    }
}


.toggle-btn{
    cursor: pointer;
    display: none;
}


.dropdown-menu{
    display: none;
    position: absolute;
    right: 2rem;
    height: 0;
    top: 60px;
    width: 300px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    transition: height .2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown-menu.open{
    height: 245px;
}

.dropdown-menu li{
    padding: 0.3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000;
    z-index: 1000;
}




@media (max-width: 992px){
    .links, .home, .services, .contact, .careers, .facebook{
        display: none;
    }
    .toggle-btn{
        display: block;
    }
    .dropdown-menu{
        display: block;
    }
}

@media screen and (max-width: 1140px){
    header .links{
        margin-left: 40%;
    }
    .inslide{
        display: none;
    }    
}
@media screen and (max-width: 1346px){
    header .links{
        margin-left: 40%;
    }
    .inslide{
        left: 300px;
    }    
}

.activeLink{
    text-decoration: none;
    border-style: solid;
    border-color: red;
    border-radius: 20px;
    border-width: 2px;
    padding: 5px;
    background-color: red;
    color: white;
    border-color: red;
    transition: .5s ease-in-out;
    box-shadow: 0 0 5px red,
    0 0 20px red;
}


.hidden-1{
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 1s;
}

.show-1{
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

@media(prefers-reduced-motion){
    .hidden-1{
        transition: none;
    }
}


.top-container{
    background: rgba(0, 0, 0, 0.559);
    position: relative;
    margin-top: 20px;
    text-align: center;
    padding: 10px;
}




.small-forum{
    padding: 20px;
    margin-left: 300px;
    background: #000000dd;
    width: 60%;
    height: 1500px;
    border-radius: 10px;
}
.form-name label{
   font-weight: bold;
}
.form-name input{
    border-radius: 5px;
    width: 445px;
    height: 40px;
}
.form-name input::placeholder{
    text-align: center;
}
.message-text textarea{
    width: 70%;
    height: 200px;
    border-radius: 5px;
}
.message-text{
    font-weight: bold;
}

.submit{
    text-align: center;
}
.submit button{
    padding: 10px;
    width: 500px;
    height: 45px;
    font-weight: bold;
    font-size: large;
    border-radius: 10px;
    border-style: none;
    color: white;
    background: #f00000d2;
}

.phone-label{
    position: relative;
    bottom: 25px;
    left: 30px;
}
.phone-input{
    position: relative;
    width: 390px;
    right: 23px;
}

.date-label{
    font-weight: bold;
}

.pos-des-class{
    font-weight: bold;
}
.pos-des{
    font-weight: 800;
    width: 100%;
    height: 30px;
}

.radio-btn{
    position: relative;
    display: flex;
}
.radio-btn label{
    position: relative;
    top: 10px;
}
.radio-btn input{
    position: relative;
}


.form-email{
    display: flex;
    font-weight: bold;
}

.email-class{
    width: 445px;
}

.form-email input{
    height: 40px;
    border-radius: 5px;
}
.email-label{
    font-weight: bold;
}

.l-w-input{
    position: relative;
    gap: 3em 5em;
}