*{
    margin: 0;
    padding: 0;
}
div{
    flex-wrap: wrap;
}
.nav-link{
    flex-basis: 10%;
    margin: 9px;
}
#navbarSupportedContent{
    margin-left: 25%;
    padding: 20px;
}

.navbar-brand{
    height: 100px;
    width: 100px;
}
.inslide{
    position: relative;
    height: 80px;
    width: 300px;
    bottom: 160px;
    left: 500px;
}
.inslideb{
    color: white;
    position: relative;
    height: 80px;
    width: 300px;
    bottom: 160px;
    left: 500px;
    background-color: #120f02;
    border-radius: 20%;
    opacity: 50%;
}
.inslideb:hover{
    
    background-color: #637ea8;
    color: white;
}
.container-1{
    display: flex;
    justify-content: space-evenly;
    text-align: center;
}

.container-2{
    display: flex;
    justify-content: space-between;
}
.container-2 div{
    flex-basis: 20%;
    margin: 15px;
}

.top{
    text-align: center;
}

.container-3{
    display: flex;
    justify-content: space-evenly;
}
.container-3 div{
    flex-basis: 40%;
    margin: 15px;
}

.row{
    display: flex;
    justify-content: space-evenly;
    .container-3 div{
        flex-basis: 40%;
        margin: 15px;
    }
}
textarea{
    height: 200px;
    width: 500px;
    text-align: center;
}




