*{
    margin: 0;
    padding: 0;
}

.container{
    align-items: center;
    border: 2px;
    border-color: red;
    display: flex;
    flex-wrap: wrap;

}
.container div{
    border-style: solid;
    width: 200px;
    padding: 10px;
    color: white;
    justify-content: space-evenly;
}
