@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@500@display=swap');
body{
    font-family: Poppins;
    margin: 0;
    background-color: #000;
    color: #eee;
}
svg{
    width: 25px;
}
/* header{
    background-color: #000;
    width: 100%;
    max-width: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: 50px 1fr 50px;
    grid-template-rows: 50px;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 100;
    opacity: 80%;
} */

header{
    background-color: #000;
    width: 100%;
    height: 60px;
    top: 0;
    max-width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: fixed;
    align-items: center;
    transition: 0.6s;
    width: 100%;
    z-index: 1000;
    opacity: 80%;    
}

header.sticky{
    padding: 5p 20px;
    background: #000;
}


/* header .logo{
    font-weight: bold;
} */

header .logo{
    margin-left: 20px;
    position: relative;
    font-weight: 700;
    color: #fff;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 0.6s;
    left: -170px;
}

/* header .links{
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    margin-left: 60%;
    gap: 20px;
    font-weight: 500;
    text-decoration: none;
} */


header .links{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

}
header ul li{
    position: relative;
    list-style: none;
}

header ul li a{
    position: relative;
    margin: 0 15px;
    text-decoration: none;
    letter-spacing: 2px;
    font-weight: 500px;
    transition: 0.5;
}



.home{
    left: 10px;
    text-decoration: none;
    border-style: solid;
    border-color: red;
    border-radius: 20px;
    border-width: 2px;
    padding: 5px;
}
.services{
    left: 20px;
    text-decoration: none;
    border-style: solid;
    border-color: red;
    border-radius: 20px;
    border-width: 2px;
    padding: 5px;
}
.careers{
    left: 30px;
    text-decoration: none;
    border-style: solid;
    border-color: red;
    border-radius: 20px;
    border-width: 2px;
    padding: 5px;
}
.contact{
    left: 40px;
    text-decoration: none;
    border-style: solid;
    border-color: red;
    border-radius: 20px;
    border-width: 2px;
    padding: 5px;
}
.facebook{
    left: 50px;
    text-decoration: none;
    border-style: solid;
    border-color: red;
    border-radius: 20px;
    border-width: 2px;
    padding: 5px;
}

a{
    text-decoration: none;
    color: white;
}

.home:hover{
    background-color: red;
    color: white;
    border-color: red;
    transition: .5s ease-in-out;
    box-shadow: 0 0 5px red,
    0 0 20px red;
}
.services:hover{
    background-color: red;
    color: white;
    border-color: red;
    transition: .5s ease-in-out;
    box-shadow: 0 0 5px red,
    0 0 20px red;
}
.careers:hover{
    background-color: red;
    color: white;
    border-color: red;
    transition: .5s ease-in-out;
    box-shadow: 0 0 5px red,
    0 0 20px red;
}
.contact:hover{
    background-color: red;
    color: white;
    border-color: red;
    transition: .5s ease-in-out;
    box-shadow: 0 0 5px red,
    0 0 20px red;
}
.facebook:hover{
    background-color: red;
    color: white;
    border-color: red;
    transition: .5s ease-in-out;
    box-shadow: 0 0 5px red,
    0 0 20px red;
}
/* css slider */
.slider{
    height: 100vh;
    margin-top: -50px;
    position: relative;
}
.slider .list .item{
    position: absolute;
    inset: 0 0 0 0;
    overflow: hidden;
    opacity: 0;
    transition: .5s;
}
.slider .list .item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.slider .list .item::after{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    background-image: linear-gradient(
        to top, #000 40%, transparent
    );
}
.slider .list .item .content{
    position: absolute;
    left: 10%;
    top: 20%;
    width: 500px;
    max-width: 80%;
    z-index: 1;
}
.slider .list .item .content p:nth-child(1){
    text-transform: uppercase;
    letter-spacing: 10px;
}
.slider .list .item .content h2{
    font-size: 100px;
    margin: 0;
}
.slider .list .item.active{
    opacity: 1;
    z-index: 10;
}
@keyframes showContent {
    to{
        transform: translateY(0);
        filter: blur(0);
        opacity: 1;
    }
}
.slider .list .item.active p:nth-child(1),
.slider .list .item.active h2,
.slider .list .item.active p:nth-child(3){
    transform: translateY(30px);
    filter: blur(20px);
    opacity: 0;
    animation: showContent .5s .7s ease-in-out 1 forwards;
}
.slider .list .item.active h2{
    animation-delay: 1s;
}
.slider .list .item.active p:nth-child(3){
    animation-duration: 1.3s;
}
.arrows{
    position: absolute;
    top: 30%;
    right: 50px;
    z-index: 100;
}
.arrows1{
    position: absolute;
    top:23%;
    right: 50px;
    z-index: 100;
}
.arrows button{
    background-color: #eee5;
    border: none;
    font-family: monospace;
    width: 40px;
    height: 40px;
    border-radius: 5px;
    font-size: x-large;
    color: #eee;
    transition: .5s;
}
.arrows1 button{
    background-color: #eee5;
    border: none;
    font-family: monospace;
    width: 40px;
    height: 40px;
    border-radius: 5px;
    font-size: x-large;
    color: #eee;
    transition: .5s;
}
.arrows button:hover{
    background-color: #eee;
    color: black;
}
.arrows1 button:hover{
    background-color: #eee;
    color: black;
}
.thumbnail{
    position: absolute;
    bottom: 50px;
    z-index: 11;
    display: flex;
    gap: 10px;
    width: 100%;
    height: 250px;
    padding: 0 50px;
    box-sizing: border-box;
    overflow: auto;
    justify-content: center;
}
.thumbnail::-webkit-scrollbar{
    width: 0;
}
.thumbnail .item{
    width: 150px;
    height: 220px;
    filter: brightness(.5);
    transition: .5s;
    flex-shrink: 0;
}
.thumbnail .item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}
.thumbnail .item.active{
    filter: brightness(1.5);
}
.thumbnail .item .content{
    position: absolute;
    inset: auto 10px 10px 10px;
}
@media screen and (max-width: 678px) {
    .thumbnail{
        justify-content: start;
    }
    .slider .list .item .content h2{
        font-size: 60px;
    }
    .arrows{
        top: 10%;
    }
}

.inslide{
    font-family: 'Orbitron', sans-serif;
    position: relative;
    height: 80px;
    width: 300px;
    bottom: 160px;
    left: 500px;
    z-index: 500;
}
.inslideb{
    position: relative;
    height: 80px;
    width: 300px;
    bottom: 370px;
    left: 500px;
    background-color: black;
    border-radius: 30px;
    background-color: transparent;
}


#inslide-id{
    font-family: 'Orbitron', sans-serif;
    letter-spacing: 4px;
    border-color: green;
    color: green;
    font-size: large;
    border: none;
    background-color: green;
    color: white;
    box-shadow: 0 0 5px green,
                0 0 20px green;
}
#inslide-btn{
    border-color: red;
    color: red;
    font-size: large;
}
#inslide-id:hover{
    border: none;
    background-color: rgb(79, 255, 79);
    color: black;
    box-shadow: 0 0 5px rgb(58, 255, 58),
                0 0 20px rgb(69, 255, 69);
}
#inslide-btn:hover{
    border: none;
    background-color: red;
    color: white;
    box-shadow: 0 0 5px red,
                0 0 20px red;
}

.toggle-btn{
    cursor: pointer;
    display: none;
}


.dropdown-menu{
    display: none;
    position: absolute;
    right: 2rem;
    height: 0;
    top: 60px;
    width: 300px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    transition: height .2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown-menu.open{
    height: 245px;
}

.dropdown-menu li{
    padding: 0.3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000;
    z-index: 1000;
}




@media (max-width: 992px){
    .links, .home, .services, .contact, .careers, .facebook{
        display: none;
    }
    .toggle-btn{
        display: block;
    }
    .dropdown-menu{
        display: block;
    }
}

@media screen and (max-width: 1140px){
    header .links{
        margin-left: 40%;
    }
    .inslide{
        display: none;
    }    
}
@media screen and (max-width: 1346px){
    header .links{
        margin-left: 40%;
    }
    .inslide{
        left: 300px;
    }    
}

.activeLink{
    text-decoration: none;
    border-style: solid;
    border-color: red;
    border-radius: 20px;
    border-width: 2px;
    padding: 5px;
    background-color: red;
    color: white;
    border-color: red;
    transition: .5s ease-in-out;
    box-shadow: 0 0 5px red,
    0 0 20px red;
}

.welcome{
    text-align: center;
}
.main-cont{
    background: rgba(0, 0, 0, 0.515)

}
.m-content{
    text-align: center;
    padding: 50px;
}

.flip-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    z-index: 2000;
}

.flip-card{
    position: relative;
    width: 300px;
    height: 350px;
    margin: 20px;
}

.flip-card .face {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 10px;
    overflow: hidden;
    transition: .5s;

}

.flip-card .front{
    transform: perspective(600px) rotateY(0deg);
    box-shadow: 0 5px 10px #000;
}

.flip-card .front img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.flip-card .front h3{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 45px;
    line-height: 45px;
    color: #fff;
    background: rgba(0, 0, 0, .4);
    text-align: center;
}

.flip-card .back{
    transform: perspective(600px) rotateY(180deg);
    background: rgba(0, 0, 0, 0.644);
    padding: 15px;
    color: #f3f3f3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    box-shadow: 0 5px 10px #000;
}

.flip-card .back .flip-link{
    border-top: solid 1px #f3f3f3;
    height: 50px;
    line-height: 50px;
}
.flip-card .back .flip-link a{
    border-radius: 15px;
    color: #0d0b0b;
    padding: 8px;
    background-color: #eeeeeedb;

}
.flip-card .back .flip-link a:hover{
    border-radius: 15px;
    color: #ffffff;
    padding: 8px;
    background-color: #ff00009d;

}
.flip-card .back h3{
    font-size: 30px;
    margin-top: 20px;
    letter-spacing: 2px;
}

.flip-card .back p{
    letter-spacing: 1px;

}

.flip-card:hover .front {
    transform: perspective(600px) rotateY(180deg);
}
.flip-card:hover .back {
    transform: perspective(600px) rotateY(360deg);
}

.ab-con{
    background: rgba(0, 0, 0, 0.515);
}

.about-us{
    text-align: center;
    padding: 10px;
}

.hidden-1{
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 1s;
}

.show-1{
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

@media(prefers-reduced-motion){
    .hidden-1{
        transition: none;
    }
}

.flip-card:nth-child(2){
    transition-delay: 400ms;
}
.flip-card:nth-child(3){
    transition-delay: 600ms;
}
.flip-card:nth-child(4){
    transition-delay: 800ms;
}
.flip-card:nth-child(5){
    transition-delay: 1000ms;
}


.new-container{

    background: rgba(0, 0, 0, 0.515);
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.new-container div{
    margin: 10px;
    width: 300px;
}
.cards{
    border-style: solid;
    padding: 20px;
}

.top-welcome{
    background: rgba(0, 0, 0, 0.515)
}

.main-container{
    background: url(image/img2.jpg);
    height: 100%;
    width: 100%;
    z-index: 2000;
}

.cards:nth-child(2){
    transition-delay: 400ms;
}
.cards:nth-child(3){
    transition-delay: 600ms;
}
.cards:nth-child(4){
    transition-delay: 800ms;
}
.cards:nth-child(5){
    transition-delay: 1000ms;
}


.new-container-1{
    position: relative;
    background: rgba(0, 0, 0, 0.515);
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.new-container-1 div{
    margin: 10px;
    width: 700px;
    border-left: 200px solid rgba(255, 0, 0, 0.533);
}

.cards-1{
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
    border-style: solid;
    padding: 20px;
}

.pick{
    position: absolute;
    right: 110%;
    top: 20%;
}
.cards-1 .ph-no{
    font-family: 'Orbitron', sans-serif;
    letter-spacing: 4px;
    font-size: xx-large;
    color: rgb(255, 25, 25);
}
.cards-1 .in-con a{
    color: red;
}




.home-sci a {
    margin-top: 100px;
    left: 650px;
    bottom: 200px;
	position: relative;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	width: 40px;
	height: 40px;
	background: transparent;
	border: 2px solid #f00000;
	border-radius: 50%;
	font-size: 20px;
	color: #f00000;
	text-decoration: none;
	z-index: 1;
	overflow: hidden;
	transition: .5s;
}

.home-sci a:hover {
	color: #081b29;
}

.home-sci a::before{
	content: '';
	position: absolute;
	justify-content: space-between;
	top: 0;
	left: 0;
	width: 0;
	height: 100%;
	background: #f00000;
	z-index: -1;
	transition: .5s;
}

.home-sci a:hover::before {
	width: 100%;
}

.welcome{
    display: relative;
    margin-bottom: 20px;
    padding-bottom: 20px;
    justify-content: space-evenly;    
}
.welcome a{
    display: relative;
    right: 20%;
    color: green;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.768);
    border-radius: 20px;
}
.welcome a:hover{
    color: black;
    padding: 10px;
    background-color: rgb(20, 235, 20);
    border-radius: 20px;
}

.welcome button{
    font-size: large;
    left: 20px;
    border: none;
    color: red;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.811);
    border-radius: 20px;
}

.welcome a:hover{
    border: none;
    color: black;
    padding: 10px;
    background-color: rgb(20, 235, 20);
    border-radius: 20px;
}

.welcome button:hover{
    font-size: large;
    left: 20px;
    border: none;
    color: rgb(5, 0, 0);
    padding: 10px;
    background-color: rgba(249, 23, 23, 0.811);
    border-radius: 20px;
}


.new-container-2{
    position: relative;
    background: rgba(0, 0, 0, 0.852);
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding-bottom: -100px;
}

.new-container-2 .banner-1{
    position: relative;
    width: 200px;
    height: 100px;
    right: 600px;
}
.call{
    position: relative;
    right: 50%;
    bottom: 15px;
}
.land-l{
    position: relative;
    top: 20px;
    right: 50%;
}
.map{
    position: relative;
    left:50%;
    bottom: 90px;
}
.clock{
    position: relative;
    left: 50%;
    bottom: 60px;
}

.mail{
    position: relative;
    left: 175%;
    bottom: 130px;
}
.mail div{
    position: relative;
    left: 20%;
    top: -130px;
}

.last-cont{
    background-color: #000000d9;
}
.last-cont-sub{
    padding: 10px;
    text-align: center;
}

.popup-overlay{
    background-color: black;
    opacity: 0.8;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 5000;
    display: none;    
}
.popup-box{
    background-color: transparent;
    width: 100%;
    padding: 40px;
    border-radius: 10px;
    position: absolute;
    top: 20%;
    left: 20%;
    display: none;
    z-index: 6000;
}


.popup-box input::placeholder{
    color: black;
}
.popup-box textarea::placeholder{
    color: black;
}

.top-container{
    position: relative;
}
.top-service{
    position: relative;
    top: 30px;
    text-align: center;
}

.main-service{
    background: url(image/img1.png);
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
}


.main-requset-form{
    position: relative;

}
.main-requset-form{
    max-width: 850px;
    padding: 28px;
    height: 1200px;
    margin: 0 28px;
    border-radius: 10px;
    overflow: hidden;
    background: rgba(0, 0, 0, 0.752);
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.6);
}

.reg{
    font-size: 26px;
    font-weight: bold;
    text-align: left;
    color: #fff;
    padding-bottom: 8px;
    border-bottom: 1px solid silver;
}

.form-content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px 0;
}
.form-input-box{
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    padding-bottom: 15px;
}
.form-input-box:nth-child(2n){
    justify-content: end;
}
.form-input-box label, .gender-title{
    width: 95%;
    color: #fff;
    font-weight: bold;
    margin: 5px 0;
}
.gender-title{
    font-size: 16px;
}

.form-input-box input{
    height: 40px;
    width: 90%;
    padding: 0 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    outline: none;
}
.form-input-box input:is(:focus,:valid){
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);   
}
.gender-category label{
    padding: 0 20px 0 5px;
    font-size: 14px;
}
.gender-category{
    color: gainsboro;
}

.gender-category label, .gender-category input{
    cursor: pointer;
}
.alert-1 p{
    font-size: 14px;
    font-style: italic;
    color: #fff;
    margin: 5px 0;
    padding: 10px;
    line-height: 1.5;
}
.send-btn{
    margin: 15px 0;
}
.send-btn button{
    width: 100%;
    margin-top: 10px;
    padding: 10px;
    display: block;
    font-size: 20px;
    color: #fff;
    border: none;
    border-radius: 5px;
    background-image: linear-gradient(to right, #aa076b, #61045f);
    transition: 0.3s;
}
.send-btn button:hover{
    background-image: linear-gradient(to right, #61045f, #aa076b);
}

@media(max-width:600px){
    .main-requset-form{
        min-width: 280px;
    }
    .form-content{
        max-height: 380px;
        overflow: auto;
    }
    .form-input-box{
        margin-bottom: 12px;
        width: 100%;
    }
    .form-input-box:nth-child(2n){
        justify-content: space-between;
    }
    .gender-category{
        display: flex;
        justify-content: space-between;
        width: 60%;
    }
    .form-content::-webkit-scrollbar{
        width: 0;
         
    }
}

.origin-category{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    padding-bottom: 15px;
}
.origin-category:nth-child(2n){
    justify-content: end;
}
.origin-category input{
    height: 40px;
    width: 80%;
    padding: 0 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    outline: none;
}
.origin-category, .gender-title{
    width: 95%;
    color: #fff;
    font-weight: bold;
    margin: 5px 0;
}

.eqtype{
    width: 95%;
    height: 50%;
    border: none;
    color: #000000;
    font-weight: bold;
    margin: 5px 0;
}
.ldtype{
    width: 95%;
    height: 50%;
    margin: 5px;
    color: #000000;
    font-weight: bold;
    margin: 5px 0;
}

.form-input-box textarea{
    width: 100%;
    height: 200px;
}
.form-input-box textarea::placeholder{
    text-align: center;
    color: rgb(38, 122, 87);
    padding: 100px;
}

.cancel-class{
    position: relative;
    left: 835px;
    bottom: 10px;
    border-radius: 5px;
    width: 30px;
    height: 30px;
}